@import url("https://p.typekit.net/p.css?s=1&k=dnn8glx&ht=tk&f=139.140.175.176.143.144.147.148.156.157.161.162&a=10778117&app=typekit&e=css");
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "proxima-nova-condensed";
  src: url("https://use.typekit.net/af/0ff5e1/00000000000000003b9b3078/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/0ff5e1/00000000000000003b9b3078/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/0ff5e1/00000000000000003b9b3078/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "proxima-nova-condensed";
  src: url("https://use.typekit.net/af/8e2bbd/00000000000000003b9b3072/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/8e2bbd/00000000000000003b9b3072/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/8e2bbd/00000000000000003b9b3072/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
html {
  font-size: 10px;
}
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #050608;
}
.banner {
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 3rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2.8rem;
  overflow: hidden;
  box-shadow: 0px 3px 6px grey;
}
@media (min-width: 900px) {
  .banner {
    height: 3.8rem;
  }
}
.banner__coin {
  display: flex;
  align-items: center;
  position: relative;
  animation: mymove 90s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes mymove {
  from {
    right: 0px;
  }
  to {
    right: 1000px;
  }
}
@keyframes mymove {
  from {
    right: 0px;
  }
  to {
    right: 1000px;
  }
}
.banner__coin-img {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.3rem;
}
.banner__coin-title {
  text-transform: uppercase;
  font-family: "proxima-nova-condensed", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 0.3rem;
}
@media (min-width: 900px) {
  .banner__coin-title {
    font-size: 1.3rem;
  }
}
.banner__coin-price {
  font-family: "proxima-nova-condensed", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-right: 1rem;
}
@media (min-width: 900px) {
  .banner__coin-price {
    font-size: 1.3rem;
  }
}
.navigation {
  width: 100%;
  min-width: 320px;
  height: 64px;
  background-color: #172b6d;
  color: #fffdfd;
  padding: 2rem 3.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 900px) {
  .navigation {
    height: 89px;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.navigation-logo {
  color: #fffdfd;
  width: 50%;
  font-family: "proxima-nova-condensed", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  cursor: pointer;
}
.navigation-burger {
  cursor: pointer;
}
@media (min-width: 500px) {
  .navigation-burger {
    display: none;
  }
}
.navigation-burger .line1,
.navigation-burger .line2,
.navigation-burger .line3 {
  width: 12px;
  height: 1px;
  margin-bottom: 3px;
  background-color: #fffdfd;
}
.navigation__links {
  width: 50%;
  display: none;
}
@media (min-width: 500px) {
  .navigation__links {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 900px) {
  .navigation__links {
    justify-content: flex-end;
  }
}
.navigation__links-link {
  font-size: 1.2rem;
  font-family: "proxima-nova-condensed", sans-serif;
  text-transform: uppercase;
  color: #fffdfd;
}
.navigation__links-link:hover {
  color: #edbc00;
}
@media (min-width: 900px) {
  .navigation__links-link {
    font-size: 1.7rem;
    margin-left: 2rem;
  }
}
.active {
  color: #edbc00;
}
.introduction {
  position: relative;
  top: -1px;
  width: 100%;
  min-width: 320px;
  min-height: 360px;
  height: auto;
  background-color: #172b6d;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 35% 10%;
}
@media (min-width: 900px) {
  .introduction {
    padding-right: 2rem;
    display: grid;
    grid-template-areas: "img img img img . . . . ." "img img img img title title title title . " "img img img img text text text text . " "img img img img button button . . . " "img img img img icon icon icon . . " "img img img img . . . . . ";
    border-bottom-left-radius: 25% 15%;
    border-bottom-right-radius: 25% 15%;
    z-index: 2;
    overflow: hidden;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.introduction-img {
  width: 100%;
  max-width: 190px;
  height: auto;
  margin-bottom: 0.7rem;
}
@media (min-width: 500px) {
  .introduction-img {
    max-width: 250px;
  }
}
@media (min-width: 900px) {
  .introduction-img {
    max-width: 550px;
    grid-area: img;
  }
}
.introduction-title {
  text-transform: uppercase;
  color: #fffdfd;
  font-family: "proxima-nova", sans-serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 500px) {
  .introduction-title {
    font-size: 3rem;
  }
}
@media (min-width: 900px) {
  .introduction-title {
    font-family: "proxima-nova-condensed", sans-serif;
    font-size: 4rem;
    margin-bottom: 3rem;
    grid-area: title;
  }
}
.introduction-text {
  font-size: 1.3rem;
  font-family: "proxima-nova", sans-serif;
  color: #fffdfd;
  max-width: 228px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}
@media (min-width: 500px) {
  .introduction-text {
    font-size: 2rem;
    max-width: 350px;
  }
}
@media (min-width: 900px) {
  .introduction-text {
    text-align: left;
    font-size: 3rem;
    max-width: 526px;
    margin-bottom: 3rem;
    grid-area: text;
    font-family: "proxima-nova-condensed", sans-serif;
  }
}
.introduction-button {
  color: #fffdfd;
  text-transform: uppercase;
  font-family: "proxima-nova-condensed", sans-serif;
  font-size: 1.3rem;
  border: 1px solid #fffdfd;
  width: 200px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s linear;
}
.introduction-button:hover {
  background-color: #edbc00;
  color: #050608;
  font-weight: bold;
  border: none;
}
@media (min-width: 900px) {
  .introduction-button {
    grid-area: button;
    width: 230px;
    height: 45px;
    padding-top: 1.2rem;
    font-family: "proxima-nova-condensed", sans-serif;
  }
}
@media (min-width: 500px) {
  .signin {
    display: none;
  }
}
.stores {
  margin-bottom: 2rem;
}
@media (min-width: 900px) {
  .stores {
    grid-area: icon;
  }
}
.stores img {
  max-width: 113px;
}
@media (min-width: 900px) {
  .stores img {
    max-width: 158px;
  }
}
.btn {
  color: #fffdfd;
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  border: 1px solid #fffdfd;
  width: 200px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}
.btn-intro {
  transition: background-color 0.3s linear;
}
.btn-intro:hover {
  background-color: #ec3d6f;
  border: none;
}
.signin {
  color: #fffdfd;
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.signin:hover {
  color: #edbc00;
}
.steps {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.steps__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 900px) {
  .steps__1 {
    flex-direction: row;
    justify-content: space-between;
  }
}
.steps__1-img {
  width: 33px;
  margin-bottom: 1rem;
}
@media (min-width: 500px) {
  .steps__1-img {
    min-width: 45px;
    height: 50px;
  }
}
@media (min-width: 900px) {
  .steps__1-img {
    max-width: 100%;
    height: auto;
    margin-right: 1rem;
  }
}
@media (min-width: 500px) {
  .exception {
    width: 68px;
  }
}
.steps__1-title {
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif;
  font-size: 1.3rem;
}
@media (min-width: 500px) {
  .steps__1-title {
    font-family: "proxima-nova-condensed", sans-serif;
    font-size: 2rem;
  }
}
@media (min-width: 900px) {
  .steps__1-title {
    margin-right: 1rem;
  }
}
.steps__1-text {
  font-family: "proxima-nova", sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
}
@media (min-width: 500px) {
  .steps__1-text {
    font-family: "proxima-nova-condensed", sans-serif;
    font-size: 2rem;
  }
}
.divider {
  width: 100%;
  min-height: 60px;
  height: auto;
  background-color: #172b6d;
}
@media (min-width: 500px) {
  .divider {
    height: 99px;
  }
}
.divider__2 {
  width: 100%;
  height: 278px;
  background-color: #172b6d;
  color: #fffdfd;
  font-family: "proxima-nova", sans-serif;
  text-align: center;
}
@media (min-width: 500px) {
  .divider__2 {
    height: 130px;
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 900px) {
  .divider__2 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
.divider__2-title {
  text-transform: uppercase;
  font-family: "proxima-nova-condensed", sans-serif;
  font-size: 3rem;
  padding-top: 2rem;
}
.divider__2-text {
  font-size: 2rem;
}
.divider-text {
  font-family: "proxima-nova", sans-serif;
  color: #fffdfd;
  font-weight: normal;
  font-size: 2rem;
  padding-top: 1.8rem;
  text-align: center;
}
@media (min-width: 500px) {
  .divider-text {
    padding-top: 3.1rem;
    font-size: 3rem;
  }
}
.cards {
  width: 100%;
  height: auto;
  padding: 20px 35px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  .cards {
    max-width: 600px;
  }
}
@media (min-width: 900px) {
  .cards {
    max-width: 800px;
  }
}
.card {
  display: grid;
  grid-template-areas: "coin coin title title . ." "coin coin time time . ." ". price price price price ." "button button button button . ." ". . . . . .";
  min-width: 110px;
  height: 121px;
  background-color: #fffdfd;
  margin-bottom: 2rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
  border-radius: 5px;
  border: 1px solid rgba(5, 6, 8, 0.1);
  transition: border 0.3s linear, box-shadow 0.3s linear;
}
.card:hover {
  box-shadow: 0px 3px 6px grey;
  border: none;
}
.card:hover .card-button {
  visibility: visible;
}
@media (min-width: 500px) {
  .card {
    max-width: 200px;
    height: 209px;
    border-radius: 10px;
  }
}
@media (min-width: 900px) {
  .card {
    max-width: 205px;
  }
}
.card-img {
  width: 25px;
  grid-area: coin;
}
@media (min-width: 500px) {
  .card-img {
    width: 45px;
    height: 45px;
  }
}
.card-title {
  font-family: "proxima-nova-condensed", sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  grid-area: title;
}
@media (min-width: 500px) {
  .card-title {
    font-size: 3rem;
    padding-left: 5px;
  }
}
@media (min-width: 900px) {
  .card-title {
    padding-left: 5px;
  }
}
.card-time {
  font-family: "proxima-nova", sans-serif;
  font-size: 0.7rem;
  grid-area: time;
}
@media (min-width: 500px) {
  .card-time {
    font-size: 1.2rem;
  }
}
.card-price {
  font-size: 2rem;
  font-weight: normal;
  font-family: "proxima-nova-condensed", sans-serif;
  grid-area: price;
}
@media (min-width: 500px) {
  .card-price {
    font-size: 3rem;
  }
}
.card-button {
  text-transform: uppercase;
  font-family: "proxima-nova-condensed", sans-serif;
  font-size: 1.3rem;
  border: 1px solid rgba(5, 6, 8, 0.1);
  width: 67px;
  height: 22px;
  border-radius: 5px;
  padding-top: 3px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  grid-area: button;
}
.card-button:hover {
  background-color: #31d298;
  border: none;
  color: #fffdfd;
}
@media (min-width: 500px) {
  .card-button {
    width: 139px;
    height: 39px;
    font-size: 1.7rem;
    padding-top: 0.9rem;
  }
}
@media (min-width: 900px) {
  .card-button {
    visibility: hidden;
  }
}
.btn-cards {
  color: #050608;
  text-transform: uppercase;
  font-family: "proxima-nova-condensed", sans-serif;
  font-weight: normal;
  font-weight: 700;
  font-size: 1.3rem;
  border: 1px solid rgba(5, 6, 8, 0.1);
  width: 200px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s linear;
}
.btn-cards:hover {
  background-color: #ec3d6f;
  border: none;
  color: #fffdfd;
  box-shadow: 0px 3px 6px grey;
}
.learning {
  width: 100%;
  height: 500px;
  padding: 2rem 1rem;
}
@media (min-width: 500px) {
  .learning {
    height: 700px;
  }
}
.learning-title {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  max-width: 222px;
  text-align: center;
  margin: 0 auto;
  color: #172b6d;
}
@media (min-width: 500px) {
  .learning-title {
    font-size: 3rem;
    max-width: 344px;
  }
}
.learning__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.learning__section-image {
  width: 100%;
  max-width: 280px;
  height: auto;
}
@media (min-width: 500px) {
  .learning__section-image {
    max-width: 470px;
  }
}
.learning__section-story {
  width: 300px;
  background-color: #172b6d;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 500px) {
  .learning__section-story {
    width: 608px;
  }
}
.learning__section-story-title {
  font-size: 1.7rem;
  font-family: "proxima-nova", sans-serif;
  color: #fffdfd;
}
.learning__section-story-text {
  font-family: "proxima-nova", sans-serif;
  padding-top: 2rem;
  max-width: 244px;
  color: #fffdfd;
  line-height: 1.5;
}
@media (min-width: 500px) {
  .learning__section-story-text {
    max-width: 440px;
    font-size: 1.5rem;
  }
}
.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
@media (min-width: 500px) {
  .faq-container {
    width: 80%;
  }
}
@media (min-width: 900px) {
  .faq-container {
    width: 60%;
  }
}
.faq-container .faq-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "proxima-nova-condensed", sans-serif;
}
@media (min-width: 500px) {
  .faq-container .faq-title {
    font-size: 2.3rem;
  }
}
@media (min-width: 900px) {
  .faq-container .faq-title {
    font-size: 2.5rem;
  }
}
.faq-container .accordion .accordion-item {
  margin-bottom: 2rem;
}
.faq-container .accordion .accordion-item__header {
  position: relative;
  height: auto;
  cursor: pointer;
  background-color: #172b6d;
  padding: 1rem;
  transition: 0.3s ease-in-out background-color;
}
.faq-container .accordion .accordion-item__header h5 {
  color: #fffdfd;
  margin-bottom: 0;
  margin-right: 50px;
  font-size: 1.7rem;
  font-family: "proxima-nova-condensed", sans-serif;
  padding: 1rem;
  margin-right: 2.7rem;
}
@media (min-width: 500px) {
  .faq-container .accordion .accordion-item__header h5 {
    font-size: 2rem;
  }
}
@media (min-width: 900px) {
  .faq-container .accordion .accordion-item__header h5 {
    font-size: 2.3rem;
  }
}
.faq-container .accordion .accordion-item__header .open-close-icon {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.faq-container .accordion .accordion-item__header .open-close-icon.open {
  transform: rotateX(180deg);
}
.faq-container .accordion .accordion-item__header .open-close-icon__line-1 {
  width: 16px;
  height: 2px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.faq-container .accordion .accordion-item__header .open-close-icon__line-2 {
  position: absolute;
  right: -10px;
  bottom: 0px;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
  transform: rotate(135deg);
}
.faq-container .accordion .accordion-item__text-block {
  font-family: sans-serif;
  background-color: #050608;
  max-height: 0;
  overflow: hidden;
}
.faq-container .accordion .accordion-item__text-block p {
  color: #edbc00;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-family: "proxima-nova", sans-serif;
}
@media (min-width: 500px) {
  .faq-container .accordion .accordion-item__text-block p {
    font-size: 1.7rem;
  }
}
@media (min-width: 900px) {
  .faq-container .accordion .accordion-item__text-block p {
    font-size: 2rem;
  }
}
.faq-container .accordion .accordion-item__text-block p:first-child {
  padding-top: 0.5rem;
}
.footer {
  width: 100%;
  height: 486px;
  background-color: #050608;
  padding: 3rem 3.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-title {
  text-transform: uppercase;
  color: #fffdfd;
  font-family: "proxima-nova-condensed", sans-serif;
  font-weight: normal;
}
.footer-buttons {
  display: flex;
  margin-top: 1.5rem;
}
.footer-button {
  width: 118px;
  height: 30px;
  background-color: #fffdfd;
  padding-top: 7px;
  font-size: 1.3rem;
  text-transform: capitalize;
  font-family: "proxima-nova-condensed", sans-serif;
  margin-right: 1rem;
  border-radius: 5px;
  text-align: center;
}
.footer-button:hover {
  background-color: #707070;
}
.footer-button--submit {
  width: 240px;
  margin-left: 1rem;
  height: 30px;
  padding-bottom: 7px;
}
.footer-text {
  margin-top: 3rem;
  font-size: 1.3rem;
  color: #fffdfd;
  font-family: "proxima-nova-condensed", sans-serif;
  font-weight: normal;
  text-align: center;
  max-width: 200px;
}
.footer-input {
  margin-top: 1.5rem;
  padding: 7px 21px;
  font-family: inherit;
  border-radius: 5px;
  width: 240px;
  height: 30px;
  border: none;
  background-color: #fffdfd;
  color: #050608;
  margin-bottom: 1.5rem;
  outline: none;
}
.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}
.footer-links {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.footer-link {
  color: #fffdfd;
  text-transform: uppercase;
  font-family: "proxima-nova-condensed", sans-serif;
  font-size: 1.3rem;
  margin-top: 1.5rem;
}
.footer-link:hover {
  color: #707070;
}
.footer-social {
  margin-top: 4.5rem;
}
.footer-social-contacts {
  color: #fffdfd;
}
.phone {
  color: #707070;
  font-size: 1.3rem;
}
.social-icons {
  margin-top: 3rem;
}
.social-icon {
  cursor: pointer;
}
.copyright {
  margin-top: 3rem;
  color: #707070;
  font-size: 1.2rem;
  font-family: "proxima-nova-condensed", sans-serif;
}
.search-component {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
}
.search-component h2 {
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 500px) {
  .search-component h2 {
    font-size: 2rem;
  }
}
@media (min-width: 900px) {
  .search-component h2 {
    font-size: 3rem;
    margin: 3rem 0;
  }
}
#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid rgba(112, 112, 112, 0.5);
}
#myInput[placeholder] {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.3rem;
  font-style: italic;
}
@media (min-width: 500px) {
  #myInput {
    width: 90%;
    margin-left: 5%;
  }
}
@media (min-width: 900px) {
  #myInput {
    width: 70%;
    margin-left: 15%;
  }
}
#myTable {
  margin-left: 5px;
  margin-right: 5px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 1.3rem;
  font-family: "proxima-nova-condensed", sans-serif;
}
@media (min-width: 500px) {
  #myTable {
    width: 90%;
    margin-left: 5%;
    font-size: 1.7rem;
  }
}
@media (min-width: 900px) {
  #myTable {
    width: 70%;
    margin-left: 15%;
    font-size: 2rem;
  }
}
#myTable th,
#myTable td {
  text-align: left;
  font-family: "proxima-nova-condensed", sans-serif;
  font-weight: normal;
  padding: 0 3px;
}
#myTable tr {
  border-bottom: 1px solid #ddd;
}
#myTable tr.header,
#myTable tr:hover {
  background-color: #f1f1f1;
  height: 30px;
}
@media (min-width: 500px) {
  #myTable tr.header,
  #myTable tr:hover {
    height: 40px;
  }
}
@media (min-width: 900px) {
  #myTable tr.header,
  #myTable tr:hover {
    height: 50px;
  }
}
.buy-button {
  padding: 0px 20px;
  text-transform: uppercase;
  font-family: "proxima-nova-condensed", sans-serif;
  font-size: 1.3rem;
  border: 1px solid rgba(5, 6, 8, 0.1);
  width: 67px;
  height: 22px;
  border-radius: 5px;
  padding-top: 3px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .buy-button {
    padding: 5px 30px;
    font-size: 1.5rem;
  }
}
@media (min-width: 900px) {
  .buy-button {
    padding: 5px 50px;
    font-size: 1.7rem;
  }
}
.buy-button:hover {
  background-color: #31d298;
  border: none;
  color: #fffdfd;
}
.currency-icon {
  padding-top: 3px;
  width: 20px;
  height: auto;
}
@media (min-width: 500px) {
  .currency-icon {
    width: 30px;
    height: auto;
  }
}
@media (min-width: 900px) {
  .currency-icon {
    width: 45px;
    height: auto;
  }
}
.learn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  font-family: "proxima-nova", sans-serif;
}
@media (min-width: 900px) {
  .learn {
    max-width: 900px;
    margin: auto;
  }
}
.learn__article {
  cursor: pointer;
  width: 50%;
  margin-bottom: 1rem;
}
@media (min-width: 500px) {
  .learn__article {
    width: 30%;
    margin-bottom: 2rem;
  }
}
.learn__article-img {
  max-width: 100%;
  width: 128px;
  height: 128px;
}
@media (min-width: 500px) {
  .learn__article-img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 900px) {
  .learn__article-img {
    width: 250px;
    height: 250px;
  }
}
.learn__article-title,
.learn__article-author {
  font-family: "proxima-nova-condensed", sans-serif;
}
@media (min-width: 500px) {
  .learn__article-title {
    font-size: 1.7rem;
  }
}
@media (min-width: 900px) {
  .learn__article-title {
    font-size: 2rem;
  }
}
@media (min-width: 500px) {
  .learn__article-author {
    font-size: 1.7rem;
    font-weight: normal;
  }
}
@media (min-width: 900px) {
  .learn__article-author {
    font-size: 2rem;
  }
}
@media (min-width: 500px) {
  .learn__article-text {
    font-size: 1.5rem;
    font-weight: normal;
  }
}
@media (min-width: 900px) {
  .learn__article-text {
    font-size: 1.7rem;
  }
}
