//compress: true
@import "blocks/fonts";
@import "vars";

html {
  font-size: @font-size;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: @black;
}

@import "blocks/banner";
@import "blocks/navigation";
@import "blocks/introduction";
@import "blocks/btn";
@import "blocks/signin";
@import "blocks/steps";
@import "blocks/divider";
@import "blocks/cards";
@import "blocks/learning";
@import "blocks/faq";
@import "blocks/footer";
@import "blocks/markets";
@import "blocks/learn";
