// main: main.less

// fonts
@font-size: 10px;
@main: "proxima-nova", sans-serif;
@main-condensed: "proxima-nova-condensed", sans-serif;

// colors
@white: #ffffff;

// media query
@tablet: ~"(min-width: 500px)";
@desktop: ~"(min-width: 900px)";
